.each-notification-container {
  border: 1px solid #e5e5e5;
  min-width: 500px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
}

.heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
}
.Success {
  color: #2dca73;
}

.Error {
  color: #ff0b37;
}
.Warning {
  color: #ffb800;
}

.Info {
  color: #0f81e0;
}
